@media screen and (min-width: 421px) {
  #litFestRoot {
    background-color: cornflowerblue;
    padding: 24px;
  }
}

@media screen and (max-width: 420px) {
  #litFestRoot {
    background-color: coral;
    padding: 24px;
  }
}
